<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Bill Splitter</title>
  </head>
  <body>
    <nav style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; width: 100%; height: 80px; text-align: center; font-size: 25px; background-color: palegreen;">
      <a href="/">Home</a>
    </nav>
  </body>
</html>