<div class="main">
  <%- include('./partials/header.ejs') %>
    <h1>This is the bill splitter</h1>
  <%- include('./partials/bill_splitter_form.ejs') %>
      <h2> Amount Each: <%= amount_each? amount_each : null %></h2>
  <%- include('./partials/footer.ejs') %>
</div>